@import "./_colors";

@mixin input-shadow() {
  box-shadow: $c-input-shadow 0px 3px 16px, $c-input-shadow 0px 1px 4px;
  transition: box-shadow 0.15s linear;
  will-change: box-shadow;

  &:focus {
    outline: none;
    box-shadow: $c-input-outline-shadow 0px 3px 16px, $c-input-outline-shadow 0px 1px 4px;
  }
}

@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin abs-pos ($top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
