@import "../_references";

.btn {
  border: 0;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 16px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  transition: background-color 0.15s ease, box-shadow 0.15s ease;
  height: 35px;

  &:focus,
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 3px 16px,
      rgba(0, 0, 0, 0.22) 0px 1px 4px;
  }

  &-default {
    background-color: $c-white;
    color: $c-dark-gray;

    &:focus,
    &:hover {
      background-color: $c-gray;
    }
  }

  &-primary {
    background-color: $c-blue;
    color: $c-white;

    &:focus,
    &:hover {
      background-color: $c-dark-blue;
    }
  }
}
