@import "../../../styles/_references";

.todo-list-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  @include abs-pos();

  .half-width {
    width: 50%;
  }

  .todo-list {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
  }
}
