$c-white: #ffffff;
$c-dark-gray: #222222;
$c-gray: #e4e4e4;
$c-blue: #00bcd4;
$c-orange: #ffa500;
$c-green: #04f344;
$c-dark-blue: #0390a2;
$c-lynch: #627593;
$c-mine-shaft: #333333;
$c-midnight-blue: #003366;
$c-boulder: #7a7a7a;
$c-desert-storm: #fcfcfb;

$c-light-blue05: rgba(33, 150, 243, 0.5);
$c-dark-gray035: rgba(46, 46, 46, 0.35);
$c-black012: rgba(0, 0, 0, 0.12);
$c-black03: rgba(0, 0, 0, 0.3);
$c-black05: rgba(0, 0, 0, 0.5);
$c-black07: rgba(0, 0, 0, 0.7);

$c-light-bg: $c-white;
$c-dark-bg: $c-dark-gray;
$c-app-header-text: $c-white;
$c-category-text: $c-blue;
$c-checkbox-check-mark: $c-orange;
$c-todo-card-border: $c-gray;

$c-category-shadow: $c-black012;
$c-category-bg: $c-black012;
$c-checkbox-border: $c-black05;
$c-reset-search-border: $c-black05;
$c-reset-search-text: $c-black07;
$c-reset-search-shadow: $c-black03;
$c-todo-card-shadow: $c-dark-gray035;
$c-input-shadow: $c-black012;
$c-input-outline-shadow: $c-light-blue05;
