.category-card {

  &-header {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
    text-align: left;
    padding: 10px;
    cursor: pointer;
  }

  &-body {
    overflow: hidden;

    &-wrap {
      padding: 10px 5px 10px 25px;
      margin: 0;
      list-style-type: none;
    }
  }

  .category-toggle-open {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.15s ease-in;
    transform: rotate(-90deg);

    &.is-expanded {
      transform: rotate(0deg);
    }
  }

  .category-name {
    color: #00bcd4;
    cursor: pointer;
    margin: 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .category-controls-right {
    float: right;

    .glyphicon {
      margin-right: 5px;
    }
  }


  .hidden {
    visibility: hidden;
  }
}

