.category-form {
  margin-bottom: 15px;
}

.category-name-field {
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 3px 16px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  border: none;
  height: 35px;
  font-size: 16px;
  padding: 0 5px;
}
