.category-card {

  &-header {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    border-radius: 2px;
    text-align: left;
    padding: 10px;
    cursor: pointer;
  }

  &-body {
    overflow: hidden;

    &-wrap {
      padding: 10px 5px 10px 25px;
      margin: 0;
      list-style-type: none;
    }
  }

  .category-toggle-open {
    display: flex;
    align-self: center;
    cursor: pointer;
    width: 25px;
    height: 10px;
    transition: transform 0.15s ease-in;
    transform: rotate(-90deg);

    &.is-expanded {
      transform: rotate(0deg);
    }
  }

  .category-name-cnt {
    display: inline-flex;
    flex-grow: 1;
    width: 100%;


  }

  .category-name {
    flex-grow: 0.9;
    width: 0;//necessary for correct working of flex-grow
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #00bcd4;
    cursor: pointer;
    margin: 0 10px;

    &:hover {
      text-decoration: underline;
    }
  }

  .category-controls-right {
    display: flex;
    margin-left: auto;
    align-self: center;

    .glyphicon {
      margin-right: 5px;
    }
  }

  .category-input {
    width: 100%;
    margin-right: 5px;
    min-width: 50px;

    &-cnt {
      display: flex;
      flex-grow: 1;
    }
  }

  .category-control-icon {
    display: flex;
    align-self: center;
    margin-right: 5px;
  }


  .hidden {
    visibility: hidden;
  }
}

