.todo-list-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .back-to-categories {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .todo-list {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
    text-align: center;
  }
}
