@import "../../../../common/styles/_references";

.todo-form {
  display: flex;
  margin-bottom: 15px;
  min-height: 36px;
  width: 100%;
  max-width: 100%;
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    width: 350px;
  }
}

.todo-title-field {
  border: none;
  width: 100%;
  height: 35px;
  font-size: 16px;
  padding: 0 5px;
  @include input-shadow();
}
