.App {
  text-align: center;

  &-logo {
    position: absolute;
    right: 0;
    top: 0;
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
    pointer-events: none;

    &-text {
      text-align: right;
      padding-right: 90px;
      line-height: 40px;
      margin: 0;
    }
  }

  &-header {
    background-color: #222;
    height: 80px;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    position: relative;
  }

  &-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    height: calc(100% - 80px);
    flex-grow: 1;
  }

  &-intro {
    font-size: large;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.m15 {
  margin: 15px;
}
