@import "../../../styles/_references";

.category-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.category-list {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 5px;
}

.confirm-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  background-color: $c-light-bg;
  box-shadow: $c-category-bg 0 3px 16px, $c-category-bg 0 1px 4px;
  padding: 10px 20px;
  outline: none;
  animation: zoom-modal-open 0.3s;

  .modal-buttons-group {
    display: flex;
    float: right;

    .btn-modal {
      margin-left: 10px;
    }
  }
}

@keyframes zoom-modal-open {
  from {
    transform: translate(-50%, -50%) scale(0);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
