@import "../../../../styles/_references";

.todo-card {
  $c-shadow: $c-todo-card-shadow;
  $c-border: $c-todo-card-border;

  display: flex;
  flex-direction: column;
  min-height: 100px;
  margin-bottom: 15px;
  border: 1px solid $c-border;
  box-shadow: $c-shadow 0 0 0;
  transition: box-shadow 0.25s ease-in;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  animation: zoom 0.3s;

  &:hover {
    box-shadow: $c-shadow 0 5px 20px 3px;
  }

  .todo-remove {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    width: 1em;
    height: 1em;
    line-height: 1em;
    cursor: pointer;
  }

  .todo-title {
    display: flex;
    flex-grow: 1;
    align-self: center;
    padding: 15px 45px;
    margin: 0;

    &-link {
      align-self: center;
      word-break: break-all;
      white-space: normal;
    }
  }

  .chbx-cnt {
    font-size: 30px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
