$bootstrap-sass-asset-helper: true;
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('~bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('~bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('~bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'),
  url('~bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'),
  url('~bootstrap-sass/assets/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

* {
  box-sizing: border-box;
}

html, body, .wh100 {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.cp {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.root-container {
  overflow: hidden;
}

.layout {
  &-left-pane {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-right: 15px;
  }

  &-right-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
